@import "../../styles/variables.scss";

.nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  border-bottom: 1px solid $light-gray;

  &-logo {
    align-self: center;
    justify-self: center;
    font-size: 23px;
  }

  &-menu {
    display: flex;
    align-items: center;

    &-bars {
      display: flex;
      align-items: center;
      border-right: 1px solid #efefef;
      margin: 0 20px;
      height: 100%;
      padding-right: 20px;
    }

    &-items {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &-item {
      list-style: none;
      font-size: 12px;
      margin: 5px 20px;

      &.active {
        position: relative;

        &::after {
          width: 100%;
          background: $yellow;
          height: 3px;
          position: absolute;
          bottom: -22px;
          left: 0px;
          content: "";
        }
      }
    }

    &-search {
      display: flex;
      align-items: center;
      border-left: 1px solid #efefef;
      margin: 0 20px;
      height: 100%;
      list-style: none;
      padding-left: 20px;
    }
  }
}
