.Dropdown-control {
  border: none;
  padding: 0;

  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}

.Dropdown-arrow {
  top: 0;
  border-color: black transparent transparent;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent black;
}
